/*titulos :  font-family: "Ubuntu", sans-serif;
párrafos:  font-family: 'Heebo', sans-serif;
font-family: 'Ubuntu', sans-serif;

colores: 
primario (titulos grandes):#7FBCD2
secundario (subtitulos):#A5F1E9
terciario (links):#B08BBB 
*/

/* 
    */
:root {
  --primary-color: #97f5bb;
  --secondary-color: #a5f1e9;
  --tertiary-color: #daa7f1;
  --box-shadow: 2px 5px 10px grey;
}

body {
  background-color: #a5f1e980;
  margin-left: 70px;
  margin-right: 70px;
  padding-bottom: 100px;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 25px;
  font-weight: 500;
  font-style: italic;
}
h2 {
  color: black;
  font-family: "Ubuntu", sans-serif;
  font-size: 45px;
  font-weight: 555;
}
h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 28px;
  font-weight: 550;
  padding: 20px 50px 20px 50px;
}

h4 {
  font-family: "Ubuntu", sans-serif;
  font-size: 25px;
  font-weight: 550;
  text-align: center;
}

p {
  font-family: "Heebo", sans-serif;
}

.navbar {
  padding-top: 1.5%;
  font-size: 20px;
}
.heading {
  margin: 50px 50px 15px 50px;
}
.profile-picture {
  border: 3px solid var(--tertiary-color);
  border-radius: 50%;
  display: block;
  margin: auto;
  box-shadow: var(--box-shadow);
}
.personal-presentation {
}
.section {
  background-image: linear-gradient(hsla(155, 85%, 28%, 0.205), #f1e6a762);
  border: 2.5px solid var(--tertiary-color);
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
  box-shadow: var(--box-shadow);
}
.btn {
  background: var(--tertiary-color);
  border: 3px solid var(--tertiary-color);
  box-shadow: var(--box-shadow);
}
.button-cv {
  margin: 30px 20px 20px 20px;
}
