/*titulos :  font-family: "Ubuntu", sans-serif;
párrafos:  font-family: 'Heebo', sans-serif;
font-family: 'Ubuntu', sans-serif;

colores: 
background:#E1FFEE
primario (titulos grandes):#7FBCD2
secundario (subtitulos):#A5F1E9
terciario (links):#B08BBB 
*/
